.outer{
    border-style: dashed;
    border-width: 3px;
    width: 194px;
    height: 194px; 
    background-color: #3fbbf4;
}

.inner1, .inner2, .inner3{
    border-style: dashed;
    border-width: 3px;
    background-color: #ffffff;
}

.inner1 {
    width: 34px;
    height: 34px;
    float: right;
    margin: 10px;
    padding: 20px;
}

.inner2 {
    float:left;
    margin: 10px;
    padding: 10px;
    width: 54px;
    height: 54px;
}

.inner3 {
    float: right;
    margin-top: 40px;
    margin-right: 0px;
    width: 94px;
    height: 54px;
}